/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

#container {
	padding: 0;
	margin-top: 20vh;
}

